/* Imposta l'immagine di sfondo per il body */
body {
    background-image: url('/images/sfondo.webp'); /* Sostituisci con il nome del tuo file */
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh; /* 100% dell'altezza della finestra */
}

/* Centra il testo */
.text-container {
    align-items: center; /* Centra verticalmente */
    display: flex; /* Utilizza Flexbox per il centramento */
    background-position: center;
    justify-content: center; /* Centra orizzontalmente */
    height: 100%;
    text-align: center;
    color: #a0bb6a; /* Verde salvia */
}

/*----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------sidebar----------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/